  <div class="well dashboard-feed">
    <h4>
      <%= link_to "#{feed.class.table_name.titleize.singularize}: #{feed.title}", feed_link(feed.class.table_name, feed) %>
    </h4>
    <h5><%= "Submitted on #{feed.created_at} by User" %></h5>
  </div>