  <div class="list-group-item">
    <h4 class="list-group-item-heading">
      <%= link_to "#{feed.class.table_name.titleize.singularize}: #{feed.title}", feed_link(feed.class.table_name, feed) %>
    </h4>
    <p class="list-group-item-text"><%= "Submitted on #{feed.created_at} by User" %></p>
  </div>