  <div href="#" class="list-group-item">
    <h4 class="list-group-item-heading"><%= poll.title %></h4>
    <p class="list-group-item-text"><%= "Submitted on #{poll.created_at} by User" %></p>
    <a href="#" class="btn btn-default">Yes</a>
    <a href="#" class="btn btn-default">No</a>
  </div>