<section class="meetings-index">

  <header class="page-header">
    <% if current_user  %>
      <% if current_user.on_council == true %>
        <div class="well">
          <%= link_to 'Post New Meeting Minutes', new_neighbourhood_meeting_path, class: 'btn btn-info' %>
        </div>
      <% end %>
    <% end %>
    <h1>Past Meetings:</h1>
  </header>
  <div class="meeting">
    <%= render @meetings %>
  </div>

</section>