<section class="notices-index">

  <header class="page-header">
    <div class="panel panel-default">
      <div class="panel-body">
        Notices
      </div>
    </div>
  </header>
    <% if current_user  %>
      <% if current_user.on_council == true %>
        <div class="well" id="accordion" role="tablist" aria-multiselectable="true">
          <a role="button" class="btn btn-info" data-toggle="collapse" href="#new_notice">
            <i class="fa fa-plus" aria-hidden="true"></i> 
            &nbsp;Create New Notice
          </a>
          <div id="new_notice" class="collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <%= render 'form'  %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

  <div class="notice">
  <%= render @notices %>
  <%= paginate @notices %>
  </div>

</section>





