
  <div class="alert alert-dismissible alert-danger">
    <%= form_tag admin_alert_path do %>
      <div class="form-group has-error center-block input">
        <div class="input-group">
          <span class="input-group-btn">
            <button class="btn btn-danger" type="button">Post Alert</button>
          </span>
          <input type="text" class="form-control" placeholder="Alert Your Residents" data-behaviour="alert-speaker">
          <span class="input-group-btn">
            <button class="btn btn-warning" type="button">Clear All</button>
          </span>
        </div>
      </div>
    <% end %>
  </div>