<div class="row chat">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-12">
        <h2>Admin Chat</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 panel panel-default pre-scrollable box">
      </div>
    </div>
    <%= form_tag admin_chat_path, remote: true do %>
      <div class="form-group ">
        <div class="input-group">
          <input type="text" class="form-control input-sm" data-behaviour="chat-speaker">
          <span class="input-group-btn">
            <button class="btn btn-primary btn-sm" type="button">Send</button>
          </span>
        </div>
      </div>
    <% end %>
  </div>
</div>