<div class="row">
  <div class="col-sm-12">
    <h2>Generate New Resident Code</h2>
    <%= form_tag root_path, remote: true do %>
      <div class="form-group">
        <label for="Question" class="col-sm-3 control-label">Building ID: </label>
        <div class="col-sm-5">
          <%= text_field_tag :title, nil, class: "form-control" %>
        </div>
        <div class="col-sm-4">
          <%= submit_tag "Generate", class: "btn btn-primary btn-block" %>
        </div>
      </div>
    <% end %>
  </div>
</div>