<div class="row page-info">
  <div class="col-sm-6">
    <h3> <%= @neighbourhood.strata_title %> </h3>
  </div>
  <div class="col-sm-6">
    <h4> Buildings: </h4>
    <% @neighbourhood.buildings.each do |b| %>
      <h5><strong>ID:</strong> <%= b.id %> - <%= b.address%> </h5>
    <% end %>
  </div>
</div>