<div class="row user-search">
  <div class="col-sm-12">
    <h4>Search for Residents</h4>
    <%= form_tag admin_search_path, method: 'get', remote: true do %>
      <%= text_field_tag 'search', params[:search], class:"search-bar", placeholder: " Search User" %>
        <button type="submit" name="commit" data-disable-with="search" class="search-button">
          <i class="fa fa-search" aria-hidden="true"></i> 
          &nbsp;Search
        </button>
    <% end %>
  </div>
</div>
<div>
  <section class="users-index">
    <div class="users">
    </div>
  </section>
</div>

