$("#poll-result").prepend(`<div class='list-group'>
                          <div class='list-group-item'>
                            <h4><%= params[:title] %></h4>
                            <%= params[:description] %>
                            <div id='latest_poll_graph'>
                            </div>
                          </div>
                        </div>`);




document.pollform.reset();
