
$(".generator-column").append("<div class='alert alert-dismissible alert-info text-center'><button type='button' class='close' data-dismiss='alert'>&times;</button><strong>Code Reset!&nbsp;</strong>The new resident code for this unit is:&nbsp;<strong><%= j @new_res_code %></strong></div>");