<article class="assistance">
  <header>
    <div class="alert alert-dismissible alert-info">
      <h3>
        <%= link_to assistance.title,  [@neighbourhood, assistance] %>
      </h3>
      <small>
        <em>
          submitted on date <%= assistance.created_at %> by <%= assistance.user_id %>
        </em>
      </small>
      <% if current_user %>
        <% if assistance.user_id == current_user.id  %>
          <%= link_to fa_icon('trash'), [@neighbourhood, assistance], class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
        <% end %>
      <% end %>
    </div>
  </header>
</article>
