<article class="assistance">
  <header>
      <% link_to [assistance.neighbourhood, assistance] do %>
      <h3><%= assistance.title %></h3>
      submitted on date <%= assistance.date %> by <%= assistance.user_id %>
      <% end %>
  </header>
</article>
