<section class="assistances-index">

  <header class="page-header">
    <div class="panel panel-default">
      <div class="panel-body">
        Assistances
      </div>
    </div>
  </header>
  <% if current_user %>
    <div class="well" id="accordion" role="tablist" aria-multiselectable="true">
      <a role="button" class="btn btn-info" data-toggle="collapse" href="#new_assistance">
        <i class="fa fa-plus" aria-hidden="true"></i> 
        &nbsp;Create New Help Request
      </a>
      <div id="new_assistance" class="collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <%= render 'form'  %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="assistances">
    <%= render @assistances %>
    <%= paginate @assistances %>
  </div>

</section>