<div class="panel panel-default comment-panel">
  <div class="panel-heading"> 
    <dd>
      <%= link_to fa_icon('times'), event_comment_path(event_id: @event.id, id:comment.id, type: 'event'), class: 'btn btn-sm btn-delete', method: :delete, data: { confirm: "Are you sure?" } %>
    </dd>
    <dd class="comment-user">
      <%= EventComment.find_user(comment.user_id) %> 
    </dd>
  </div>
  <div class="panel-body">
    <dd>
      <%= comment.content %>
    </dd >
    <% if current_user.id === comment.user_id %>
    <% end %>
  </div>
</div>