/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Lato');

@import "bootstrap-sprockets";

@import "bootswatch/cerulean/variables";

@import "bootstrap";

@import "bootswatch/cerulean/bootswatch";

@import "font-awesome";

@import "bootstrap/bootstrap-rails-tooltip";

@import "bootstrap/bootstrap-rails-popover";

@import "jquery.Jcrop";

@import "variables";

@import "extend";

.container{
  .jumbotron {
    background-color: #fff;
    border: 1px solid transparent;
    border-color:$border-color;
    border-radius: 0em;
    border-width: 0.35em;
    box-shadow: $box-shadow;
    padding: 0.5em;

    .carousel-caption {
      padding-bottom: 4.5em;
      background: rgba(0, 0, 0, 0.45);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 5em;

      h3 {
        font-family: $lato;
        font-size: 43px;
        font-weight: bolder;
        letter-spacing: 0.085em;
        color: white;
      }


      p {
        font-family: $lato;
        font-size: 17px;
        font-weight: bold;
        letter-spacing: 0.085em;
        color: white;
      }

      .btn-default {
        border-radius: 0px;
        font-family: $lato;
        font-weight: bold;
        margin: 0.75em;
        width: 9em;
        border-color: white;
        background: $secondary-color;
        color: white;
        border-width: 0.15em;

        &:hover{
          background: #8f8f8f;
        }
      }
    }
  }
}

.nav {
  .btn-lg {
    font-size: 1em;
    padding: 0.6em 0.8em;
  }

  .btn-info {
    background-color: #347aa2;
    background-image: none;
    border-color: #fff;
    border-width: 0.15em;
    margin-top: 0.2em;
    border-radius: 0;
    font-family: $lato;
    font-size: 1.1em;

    &:active{
      background-color: #275d7c;
      border-color: #fff;
      border-width: 0.15em;
    }

    &:hover{
      background-color: #529dc8;
    }
  }
}


.navbar {
  #login_form {
    color: white;

    .login_email {
      padding: 8px;
    }

    .login_password {
      padding: 8px;
    }

    #submit_login_form {
      cursor: pointer;
      left: 0.3em;
      font-size: 1.2em;
      top: 0.8em;
    }
  }
}

.navbar-default {
  background-color: $brand-color;
  background-image: none;
  background-repeat: no-repeat;
  border-radius: 0px;

  .navbar-nav{
    li{
      a{
        font-family: $lato;
        font-size: 1.1em;

        &:hover{
          background-color: #529dc8;
        }
      }
    }
  }

  .navbar-brand {
    font-family: $lato;
    font-size: 1.65em;
    font-weight: bold;
  }
 }

.navbar-default {
  margin: 0;
}



.message-box {
  @extend %white-box;

  // .label {
  //   margin-right: 1%;
  // }

  hr {
    border-color: $border-color;
  }

  .name {
    color: #14191d;
  }

  .post-title {
    color: #445763;
  }

  a {
    color: #445763;
  }

  h6 {
    color: #587181;
  }

  .poll-thank-you {
    color: #445763;
    text-align: center;
  }
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}


div:empty {
  display: none;
}

.alerts-feed {
  background: #f63602;
  border-color: #c32b02;
  border-width: 0.3em;
  border-radius: 0em;
  color: white;
  font-weight: bold;
  width: 100vw;
  transform: translateX(-20.25vw);
}

.text-center {
  text-align: center;
}

.modal-content{
  @extend %white-box;
  padding: 1.25em;
  
  .modal-header {
    border-width: 0em;
  }

  h5{
    color: $secondary-color;
    font-size: 1.75em;
    font-weight: bold;
  }
  
  .btn-primary {
    @extend %add-button;
    float: right;

      @include hover-state {
      @include button-color ($secondary-color, #fff, #fff);
    }
  }

        .form-control {
    border-radius:0em;
  }
  
  .btn-file {
    @extend %modify-button;
    border-width:0.15em;

    @include hover-state {
      @include button-color ($brand-color, #fff, #fff);
    }
  }
}

.main_register {
  @extend %white-box;
  background: #e9ebee;
  color:$secondary-color;
  border: $secondary-color;
  font-size: 1.1em;

  transform: translateX(20em);

  label {
    font-family: $lato;
    font-weight: initial;
  }
  
  .join-header {
    color: black;
    font-family:$lato;
    font-weight: bold;
  }

  .form-control {
    border-radius: 0em;
  }

  .btn-primary {
    width: 100%;
    border-radius: 0;
    background: #eddb11;
    color: black;
    font-family:$lato;
    border-color: $border-color;
    font-weight: bold;
  }
}




