/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";

@import "bootswatch/cerulean/variables";

@import "bootstrap";

@import "bootswatch/cerulean/bootswatch";

@import "font-awesome";

@import "bootstrap/bootstrap-rails-tooltip";

@import "bootstrap/bootstrap-rails-popover";

.navbar {
  .login_form {
    color: white;
  }

  .login_form .login_email {
    padding: 8px;
  }

  .login_form .login_password {
    padding: 8px;
  }
}

.navbar-custom {
  background-color: #3c8dbc;
  background-image: none;
  background-repeat: no-repeat;
  border-radius: 0px;

  a {
    color: #fff;

    &:hover {
      color: #0000FF;
    }
  }

 }

.message-box {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-color: #ddd;
  border-radius: 0px;
  box-shadow: 0 5px 5px rgba(0,0,0,0.05);

  .post-title {
    color: #36454f;
  }

  a {
    color: #36454f;
  }

  .content-box {
    border: 1px solid transparent;
    border-color: #ddd;
  }
}
