// Place all the styles related to the neighbourhood controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dashboard-polls {
  float: right;
  width: 32.5%;
}

.dashboard-feeds {
  float:left;
  width: 65%;
}
