// Place all the styles related to the neighbourhood controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";
@import "extend";


.dashboard-polls {
  float: right;
  width: 32.5%;
  
  .panel-default {
    @extend %blue-box;
    border-width: 0.1em;

    .panel-body {
      font-size: 1.25em;
      font-weight: bold;
      text-align: center;
    }
  }

}

.dashboard-feeds {
  float:left;
  width: 65%;

  .panel-default {
    @extend %blue-box;
    border-width: 0.1em;

    .panel-body {
      font-size: 1.25em;
      font-weight: bold;
      text-align: center;
    }
  }
}




