<nav class="navbar navbar-default navbar-bottom">
  <div class="container-fluid">
    <div class="navbar-collapse collapse" id="my_navbar">
      <ul class="nav navbar-nav">
        <li><a>Neighbour ©2017</a></li>
        <li>
          <a>
            <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;604-123-4567
          </a>
        </li>
        <li>
          <a>
            <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;info@neighbours.com
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>