  <head>
    <title>Neighbours</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% if current_user %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% else %>
      <%= javascript_include_tag 'public', 'data-turbolinks-track': 'reload' %>
    <% end %>
  </head>