<!DOCTYPE html>
<html>

  <%= render 'layouts/header' %>

  <body>
    <%= render 'layouts/top_nav' %>
    <%= render 'alerts/alerts_feed' %>
    <main class="container">
      <%= yield %>
    </main>
  </body>

</html>
